# Django Core
Django>=5.2,<5.3
djangorestframework
django-cors-headers

# Task Queue
celery
redis


# Data Processing
pandas
numpy

# Databases
psycopg2-binary  # Postgres Adapter
clickhouse-connect  # ClickHouse Client

# Utilities
python-dotenv
requests
gunicorn
ijson>=3.2.0
python-dateutil>=2.8.2
django-celery-beat>=2.5.0